*{
    /*  *means do for all html tags */
    margin: 0;
    padding: 0;
    /* font-family: Helvetica, sans-serif, cursive; */
    box-sizing: border-box;
    /* google fonts */
    font-family: 'Creepster', cursive;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Space Grotesk', sans-serif;

}
body{
    overflow: hidden;
    background-color: white;
}
#main{ 
    display: block; /* can be used to remove scroll bars in browsers */
    max-width: 100%; /* this make you game sreen or border fix accross devices*/
    max-height: 100%;/* this make you game sreen or border fix accross devices*/
    background: black;
    position: absolute;
    top: 50%; /* offset top an left from the edge of the image*/
    left: 50%;
    transform: translate(-50%,-50%); /* used to re align to the absoulte center after offsetting it from the top left hand corner 50%*/

}
#loading{
    font-family: 'Creepster', cursive;
    position: absolute;
    bottom: 4%; /* offset top an left from the edge of the image*/
    left: 1%;
    text-align: center;
    font-size: 35px;
}

img{
    display: none;
}
#miniMapCanvas{
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    position: absolute;
    z-index: 1;
    max-width: 100%; /* this make you game sreen or border fix accross devices*/
    max-height: 100%;/* this make you game sreen or border fix accross devices*/

}

/* Add the filter rule for the .slime-effect-active class */
.slime-effect-active {
    /*note: blur and contrast give you slime only if canvas has a color*/
    filter: blur(10px) contrast(40); 
    /* filter: blur(25px) contrast(70); */

}



#userInterface{
    display: none;
    max-width: 100%;
    max-height: 100%;
    top: 50%; /* offset top an left from the edge of the image*/
    left: 50%;
    transform: translate(-50%,-50%); /* used to re align to the absoulte center after offsetting it from the top left hand corner 50%*/
    position: absolute;
    /* background: red; */
    /* pointer-events: none; */
    z-index: 10; /*set to the top layer*/

}

#startUpButtons{
    display: grid;
    grid-template-rows: repeat(2, .2fr) 
    /*align the element in the div in a grid format; note: 1fr means the fraction of the space where 1 is 100%*/

}

.button {
    transition-duration: 0.15s;
    /* background-color: #555555; */
    background: none;
    border-radius: 15px;
    border: none;
    /* color: white; */
    color: #555555;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: none;
}

.button:hover {
    background-color: white; 
    color: black;
    border: 2px solid #555555;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.button:active {
    background-color: #555555;
    color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}