*{
    /*  *means do for all html tags */
    margin: 0;
    padding: 0;
    /* font-family: Helvetica, sans-serif, cursive; */
    box-sizing: border-box;
    /* google fonts */
    font-family: 'Creepster', cursive;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Space Grotesk', sans-serif;

}
body{
    overflow: hidden;
    background-color: white;
}
#main{ 
    max-width: 100%; /* this make you game sreen or border fix accross devices*/
    max-height: 100%;/* this make you game sreen or border fix accross devices*/
    border: 5px solid red;
    /* background: url("./images/bg3.png"); */
    position: absolute;
    top: 50%; /* offset top an left from the edge of the image*/
    left: 50%;
    transform: translate(-50%,-50%); /* used to re align to the absoulte center after offsetting it from the top left hand corner 50%*/

}
#loading{
    font-family: 'Space Grotesk', sans-serif;
    position: absolute;
    top: 30%; /* offset top an left from the edge of the image*/
    left: 50%;
    text-align: center;
    font-size: 40px;
    transform: translate(-50%,-30%); /* used to re align to the absoulte center after offsetting it from the top left hand corner 50%*/
}

img{
    display: none;
}
/* 
#rthrust{
    display: none;  
     /*used to make the image invisible

}
#thrust1{
    display: none;   used to make the image invisible

}
#spaceship{
    display: none;  used to make the image invisible

}
#spaceshipSprite{
    display: none;  /* used to make the image invisible

} */